*{
	margin: 0;
	padding: 0;
}

html {
	width: 100%;
	height: 100%;
}

body {
	position: relative;
	width: 100%;
	height: 100%;
}

#background-site {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
}

#background-site iframe {
	width: 100%;
	height: 100%;
	border: none;
	overflow: scroll;
}

#menu {
	position: fixed;
	left: 1.5em;
	top: 40%;
	color: #ffffff;
	font: 1em/1.5em courier;
	text-transform: lowercase;
	letter-spacing: .025em;
	z-index: 10;
	padding: 1em 1.75em 1em 1em;
	cursor: move;
	background-color: #fefefedd;
}

#greeting {
	position: fixed;
	z-index: 20;
	max-width: 300px;
	right: 7.5%;
	top: 15%;
	font: 1em courier;
	letter-spacing: .025em;
}

#greeting .header {
	font: 2em courier;
	text-align: right;
}

.about { 
	color: #000000ee;
	text-decoration: none;
	padding: 1em 0.25em;
}

#logo {
	width: 300px;
}

#logo-touch {
	display: none;
	position: absolute;
	left: 50%;
	top: 4px;
	width: 160px;
	margin-left: 10%;
}

#binder-clip{
	margin-top: -2em;
	position: fixed;
	margin-left: 8em;
	z-index: 20;
	-ms-transform: rotate(-27deg);
	-webkit-transform: rotate(-27deg);
	transform: rotate(-27deg);
}

#navigation {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#navigation li{
	padding: 0;
	margin: 0;
	width: max-content;
}

#navigation a{
	color: #717171;
	text-decoration: none;
	padding: 0.25em;
}
#navigation a.active{
	color: #000000;
	font-weight: bold;
}
#navigation a:hover{
	color: #000000;
}
#navigation .current_page_item a {
	color: red;
}

/* Psuedo mobile styles for wide touch devices */
.touch-device #menu {
	position: fixed;
	font: 1em/1.5em monospace;
	padding: 1em;
	z-index: 10;
	left: 2px;
	right: 2px;
	top: 2px;
	background: none;
	cursor: pointer;
}

.touch-device #logo,
.touch-device .header,
.touch-device #binder-clip {
	display: none;
}
.touch-device .about{
	display: none;
	width: auto;
}
.touch-device #logo-touch{
	display: block;
}

.touch-device #navigation{
	display: none;
	background-color: #ffffffdd;
}
.touch-device #menu-open{
	width: 30px;
	height: 35px;
	cursor: pointer;
}
.touch-device #menu-open div {
	background-color: black;
	height: 15%;
	margin-bottom: 15%;
	width: 90%;
}

/* Real mobile styles for smaller screens */
@media only screen and (max-width: 768px) {
	body, html{
		position: relative;
		width: 100%;
	}

	#background-site{
		-webkit-overflow-scrolling: touch; 
		overflow: auto;
	}
	#background-site iframe{
		width: 100%;
		height: 5500px;
		overflow: hidden;
	}

	#menu {
		background: none;
		position: fixed;
		padding: 1em;
		z-index: 10;
		cursor: pointer; 
	}

	#logo, .header, #binder-clip{
		display: none;
	}
	#logo-touch {
		display: block;
	}
	
	#navigation{
		display: none;
		padding: 0.5em;
		margin-top: 1em;
		background-color: #ffffffdd;
	}

	#menu-open{
		width: 30px;
		height: 35px;
		cursor: pointer;
	}
	#menu-open div {
		background-color: #000000;
		height: 15%;
		margin-bottom: 15%;
		width: 90%;
	}

	.about{
		width: auto;
		display: none;
	}
}